{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 90,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": true,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "parser": "typescript",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
