@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
}
 
 

@layer components {
  .highlight__panel {
      @apply hidden;
  }
  .prose img {
      @apply mx-auto shadow-md rounded;
  }
  .prose figure, .prose figcaption {
      @apply text-center italic;
      margin-top: -1rem;
  }
  .prose figure {
      @apply my-6;
  }
  .prose figure br {
      @apply hidden;
  }

  .navigation-underline {
      @apply w-full border border-yellow-400;
  }
}

@layer utilities {
  @variants responsive {
      .hide {
          display: none;
          visibility: hidden;
      }

      .show {
          display: inline;
          visibility: visible;
      }
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.nextui-c-ctQnhE{
  padding-right:0.5rem;
}

.nextui-c-hPzDAx .nextui-collapse-title  {
  color:#64748B;
}

.nextui-c-hPzDAx .nextui-collapse-title-content h3:hover{
  color:#334155;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.container {
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 92px;
    height: 66px;
}
  
.logo {
    position: relative;
    height: 60px;
    width: 80px;
    border-bottom: 6px solid #EF4744;
    border-right: 6px solid #EF4744;
    border-left: 6px solid #EF4744;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: visible;
  }
  
  .logo::before {
    content:'';
    position: absolute;
    top: 0;
    letter-spacing: 0;
    height: 6px;
    width: 6px;
    background: #EF4744;
  }
  
  .logo::after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    width: 6px;
    background: #EF4744;
  }
  
  .page-left {
    content:'';
    position: absolute;
    top: -10px;
    left: 6px;
    height: 52px;
    width: 25px;
    border: 6px solid #EF4744;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transform:skew(0deg,16deg);
    -moz-transform:skew(0deg,16deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
  }
  
  .page-right {
    content:'';
    position: absolute;
    top: 1px;
    right: 6px;
    height: 52px;
    width: 25px;
    border: 6px solid #EF4744;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transform:skew(0deg,-16deg);
    -moz-transform:skew(0deg,-16deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
  }
  
  .flip {
    content:'';
    position: absolute;
    top: 0px;
    right: 6px;
    height: 52px;
    width: 25px;
    border-top: 6px solid #EF4744;
    border-right: 6px solid #EF4744;
    border-bottom: 6px solid #EF4744;
    border-left: 3px solid #EF4744;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transform:skew(0deg,-16deg);
    -moz-transform:skew(0deg,-16deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    animation: flip 10s linear infinite;
    -webkit-animation: flip 10s linear infinite;
    -moz-animation: flip 10s linear infinite;
  }
  
  @keyframes flip {
    0% {
      
    }
    
    4% {
      transform: rotateY(80deg) skew(0deg,-30deg);
    }
   
    8%, 100% {
      transform: rotateY(180deg) skew(0deg,-16deg);
    }
  }
  
  @-webkit-keyframes flip {
    0% {
      
    }
    
    4% {
      -webkit-transform: rotateY(80deg) skew(0deg,-30deg);
    }
   
    8%, 100% {
      -webkit-transform: rotateY(180deg) skew(0deg,-16deg);
    }
  }
  
  @-moz-keyframes flip {
    0% {
      
    }
    
    4% {
      -moz-transform: rotateY(80deg) skew(0deg,-30deg);
    }
   
    8%, 100% {
      -moz-transform: rotateY(180deg) skew(0deg,-16deg);
    }
  }

 


 