.prose{
    white-space: initial;
    word-wrap: break-word;
    margin-top: 1rem;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: none;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: none;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-style: normal;
}

.prose iframe{
    border-radius: 4px;
    min-width: 280px;
    min-height: 280px;
    display: block;
    outline: 0px solid transparent;
}
.prose div[data-youtube-video] > iframe{
    cursor: move;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.prose .ProseMirror-selectednode iframe{
    transition: outline 0.15s;
    outline: 6px solid #fbbf24;
}

@media only screen and (max-width: 480px) {
    .prose div[data-youtube-video] > iframe {
      max-height: 50px;
    }
  }

@media only screen and (max-width: 720px) {
    .prose div[data-youtube-video] > iframe {
      max-height: 100px;
    }
  }

  .prose span {
    font-family: 'Pretendard';
    
  }

  .prose a {
    white-space: initial;
    word-wrap: break-word;
  }

  .prose img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  .prose h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic',
      'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    letter-spacing: -0.004em;
  }

  .prose h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic',
      'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    letter-spacing: -0.004em;
  }
  .prose h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic',
      'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    letter-spacing: -0.004em;
  }
  .prose h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
      'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕, 'Nanum Gothic',
      'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    font-size: 1.3125rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    letter-spacing: -0.004em;
    margin-top: 1.5rem;
  }

  @media (max-width: 1024px) {
    .prose h1 {
      font-size: 2.2rem;
    }
    .prose h2 {
      font-size: 1.75rem;
    }
    .prose h3 {
      font-size: 1.25rem;
    }
    .prose h4 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .prose h1 {
      font-size: 2rem;
    }
    .prose .ptag{
      font-size: 1.1rem;
    }
  }

  @media (max-width: 375px) {
    
    .prose .ptag{
      font-size: 1rem;
    }
  }

 
  .prose ol li::marker {
    color: #ffb300;
  }
  .prose ul li::marker {
    color: #ffb300;
  }

  .prose ol {
    list-style-type: decimal;
    position: relative;
    color: #ffb300;
    padding-left: 40px;
    font-size: 1.125rem;
    margin: 18px 0;
  }

  .prose ol li {
    line-height: 1.5;
    margin: 18px 0;
    vertical-align: middle;
  }
  
  .prose ol li p {
    vertical-align: middle;
    padding-bottom: 5px;
  }

  .prose ul {
    list-style-type: disc;
    position: relative;
    color: #ffb300;
    margin: 18px 0;
    font-size: 1.125rem;
    padding-left: 40px;
  }
  
  .prose ul li {
    line-height: 1.5;
    vertical-align: middle;
  }
  
  .prose ul li p {
    vertical-align: middle;
    padding-bottom: 5px;
  }
  .prose code {
    background-color: #ffe066;
    font-family: 'Pretendard';
    color: #212529;
    padding: 0.4rem 0.2rem;
    border-radius: 3px;
    font-size: 90%;
    margin: 0 6px;
    letter-spacing: 0px;
  }
  .prose div {
    .toc {
      margin-bottom: 1.5rem;
    }
  }

  .prose pre {
    background: #0d0d0d;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin: 0.75rem 0rem;
    overflow-x: auto;
  }
  
  .prose pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
  
  .prose .quote {
    margin: 0 auto;
    position: relative;
    padding-left: 55px;
    margin: 75px 0;
    border-left: none;
  }


  .prose .quote ::before {
    color: #fcd545;
    font-size: 100px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    line-height: 0.9;
    content: open-quote;
    vertical-align: top;

    position: absolute;
    left: -5px;

  }
  .prose .quote ::after {
    visibility: hidden;
    content: close-quote;
  }

  @media (max-width: 768px) {
    .prose .quote{
      margin: 25px 0;
      font-size: 70px;
      padding-left: 40px;
    }
  }


  .prose hr {
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 1.5rem 0;
  }

  .prose u {
    text-decoration: none;

    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(to right, #e9756b, #e9756b, #e9756b);
    background-size:
      100% 0.1em,
      30% 0.1em;
    background-position:
      100% 100%,
      0 100%;

    background-repeat: no-repeat;
    transition: background-size 600ms;
    &:hover {
      background-size:
        100% 0.1em,
        100% 0.1em;
    }
  }