$col-1: #52aca2;
$col-2: #bada55;
$col-3: #999999;
$col-4: #78d663;
$col-5: #f1ab4f;
$col-6: #f04f6b;
$col-7: #ffda4f;
$col-8: #55cdfc;
$col-9: #aa7d42;
$col-10: #ced5df;
$col-11: #f7850a;
$col-12: #935357;
$col-13: #b190a5;
$col-14: #90b19c;
$col-15: #fdbdb8;
$col-16: #ffe4e1;
$col-17: #666666;
$col-18: #93786f;
$col-19: #f6c9b9;
$col-20: #ecc2bf;
$col-21: #aa5e40;
$col-22: #aa5e40;
$col-23: #408caa;
$col-24: #489cbd;
$col-25: #bada55;
$col-26: #062542;
$col-27: #998888;
$col-28: #cdcdd2;
$col-29: #cbc2bf;
$col-30: #e7d5c9;
$col-31: #e9d7c7;
$col-32: #a2697d;
$col-33: #86516b;
$col-34: #dbdcff;
$col-35: #feffa3;
$col-36: #00b8ff;
$col-37: #ff9966;
$col-38: #a52a5e;
$col-39: #008080;
$col-40: #000000;
$col-41: #01f6f1;
$col-42: #ffc0cb;
$colours: $col-1, $col-2, $col-3, $col-4, $col-5, $col-6, $col-7, $col-8, $col-9,
  $col-10, $col-11, $col-12, $col-13, $col-14, $col-15, $col-16, $col-17,
  $col-18, $col-19, $col-20, $col-21, $col-22, $col-23, $col-24, $col-25,
  $col-26, $col-27, $col-28, $col-29, $col-30, $col-31, $col-32, $col-33,
  $col-34, $col-35, $col-36, $col-37, $col-38, $col-39, $col-40, $col-41,
  $col-42;
$text: "", "", "", "", "", "", "--", "--", "--", "---", "---", "---", "", "", "",
  "", "", "--", "--", "--", "---", "---", "------------------------";
$text-col: #111111, #eeeeee, #111111;
 
.shelf {
 
  height: 8px;
  background-color: #8b4513;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
 
  
  &:hover {
    animation: shelf-lift 0.5s ease;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    cursor: pointer;
    .book {
      animation: book-bounce 0.5s ease;
      animation-iteration-count: 1;
    }
  }
}

.book {
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  font-size: 20px;
  overflow: hidden;
  line-height: 15%;
  text-align: center;
  font-weight: lighter;
}

@for $i from 0 through 99 {
  .book:nth-child(#{$i}):before {
    content: nth($text, random(length($text)));
    color: nth($text-col, random(length($text-col)));
  }
  .book:nth-child(#{$i}) {
    height: random(30) + 40px;
    animation-delay: $i * 0.002s !important;
    background-color: nth($colours, random(length($colours)));
    width: random(4) + 7px;
  }
}
@keyframes book-bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

 

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
    padding: 0 1rem

  }
  ol {
    
    list-style: none;
    counter-reset: item;
  }
  li {
    display: flex;
    counter-increment: item;
    margin-bottom: 5px;
  }
  li:before {
    margin-right: 10px;
    content: counter(item);
    background: lightblue;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
  }

 

  outline: none;
  min-height: 100%;
  max-height: 100%;

  width: 100%;
  
   
 
  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none; 
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }

 
}




.toc {
  background: rgba(black, 0.1);
  border-radius: 0.5rem;
  opacity: 0.75;
  padding: 0.75rem;

  &__list {
    list-style: none;
    padding: 0;

    &::before {
      content: "Table of Contents";
      display: block;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.025rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  &__item {
    a:hover {
      opacity: 0.5;
    }

    &--3 {
      padding-left: 1rem;
    }

    &--4 {
      padding-left: 2rem;
    }

    &--5 {
      padding-left: 3rem;
    }

    &--6 {
      padding-left: 4rem;
    }
  }
}